@font-face {
	font-family: 'Montserrat400';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../assets/fonts/Montserrat400.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat500';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../assets/fonts/Montserrat500.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat600';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../assets/fonts/Montserrat600.ttf) format('truetype');
}

@font-face {
	font-family: 'Montserrat700';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../assets/fonts/Montserrat700.ttf) format('truetype');
}
